/* index.css */

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
    margin-top: 192px;
    text-align: center;
}

#title {
    font-weight: 500;
    font-size: 5.5em;
    margin-bottom: 30px;
    color: #c65d57;
}

#sub-title {
    position: absolute;
    float: right;
    font-size: 1.6em;
    top: 80px;
    right: 110px;
    color: #999;
}

form {
    margin-top: 20px
}

#select-service,
#search-box {
    border: 1px solid #bbb;
    border-radius: 1px;
    background-color: #fff;
}

#select-service select,
#search-box input,
#search-box button {
    color: #666;
    vertical-align: middle;
    text-overflow: ellipsis;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
}
